*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header p{
    color:  white;
    margin-top: 9px;
    padding-right: 12px;
}
.header button{
    background-color: rgb(239, 176, 59);
    border: none;
    border-radius: 16px;
    margin-bottom: 4px ;
    margin-top: 8px;
    padding-right: 4px;
    padding-left: 4px;
    height: 30px;
}
.nav-item a{
     font-size: 16px;
     font-weight: 550;
     color: black;
}
.search-box {
      border: 1px solid #ddd;
      border-radius: 4px;
      display: flex;
      align-items: center;
      background: #fff;
      width: 280px; 
      height: 40px;
      margin-top: 10px;
}
.search-box input {
      border: none;
      outline: none;
      flex: 1;
      margin: 0 10px;
      font-size: 16px;
}
.nav-link{
  color: red;
 
}
.language{
  padding-top: 15px;
 
}
.login-btn{
  border: none;
  padding-right: 7px;
  text-align: center;
  padding-left: 5px;
  text-wrap: nowrap;
}
.login-btn:hover{
  background-color: red;
}
.btn-1{
  color: red;
  border-radius: 7px;
  text-wrap: nowrap;
  border: red 1px solid;
}
.btn-2{
  background-color: red;
  border-radius: 7px;
  border: none;
  color: white;
}

.navbar1{
  position: sticky;
  
}
/* mobile navbar */
.logo-nav{
  width: 50px;
  height: 30px;
  margin-top: 6px;
}
.logo-nav img{
  height: 30px;
  width: 50px;
}
/* offcanvas */
.image{
  padding-left: 150px;
}
.image img {
 width: 80px;
}
.user-login{
  width: 100%;
  height: 50px;
  color: white;
}
.icon-2{
  color: white;
}
.lang{
  display: flex;
  list-style: none;
  justify-content: center;
}
.lang li a{
  color: white;
  text-decoration: none;

}
.li1{
  width: 70px;
  height: 30px;
  border: 1px solid white;
  margin-right: 8px;
  text-align: center;
}
.li2{
  width: 70px;
  height: 30px;
  border: 1px solid white;
  margin-right: 8px;
  text-align: center;
}
.li3{
  width: 70px;
  height: 30px;
  border: 1px solid white;
  text-align: center;
}
.li1:active {
  background-color: white;
} 
.li1 a:active{
  color: red;
}
.li2:active {
  background-color: white;
} 
.li2 a:active{
  color: red;
}
.li3:active {
  background-color: white;
} 
.li3 a:active{
  color: red;
}
.donate-btn{
  color: white;
  text-align: center;
}
.row1 a{
  text-decoration: none;
  color: white;
}
.row2 a {
  text-decoration: none;
  color: white;
}
.row1 li{
  list-style: none;
}
.row2 li{
  list-style: none;
}
.first a{
  color: pink;
}
.icon1{
  width: 30px;
  height: 50px;
  align-items: center;
}
.shayari-text {
      font-family: "Georgia", serif;
      font-size: 22px;
      font-style: italic;
}
.poet-name {
      font-weight: bold;
      margin-top: 10px;
}
.actions {
      margin-top: 15px;
      font-size: 14px;
      color: #555;
}
    .actions i {
      margin-right: 8px;
}
.btn .carousel-control-prev-icon,
.btn .carousel-control-next-icon {
  background-color: #e50050;  
  border-radius: 50%;       
  width: 40px;               
  height: 40px;
  background-size: 60%;      
}
.carousel-control-prev,
.carousel-control-next {
  width: auto; 
}
.button .carousel-control-prev-icon,
.button .carousel-control-next-icon {
  background-color: #e50050;  
  border-radius: 50%;       
  width: 40px;               
  height: 40px;
  background-size: 60%;      
}
.carousel-control-prev,
.carousel-control-next {
  width: auto; 
}
.carousel .row img {
  width: 100%;
  height: 250px;   
  object-fit: cover;  
  border-radius: 8px; 
}
.readfullbgbtn{
  color: rgb(0, 157, 255);
  font-weight: bold;
}
.crosswordmain{
  padding: 44px 0;
}
section{
  overflow: hidden;
}
.container{
  width: 100%;
  max-width: 1200px;
  padding: 0 16;
  margin: auto;
  box-sizing: border-box;
}
.lazyload{
  width: 250px;
  height: 200px;
  
}
.crosswordmaininner{
  background-color: #e3e8da;
  border-radius: 4px; 
  /* flex-direction: initial;
  flex-wrap: wrap;
  text-align: left;
  padding: 24px 36px;
  position: relative;
  overflow: hidden;
  justify-content: flex-start; */
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
    box-sizing: border-box;
}
section {
    overflow: hidden;
}

/* .crossWordmainInner .crossWordIncontent {
        flex: 0 0 75%;
    } */